<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="lead">Consultant indépendant depuis 2007, j'accompagne les entreprises de toutes tailles dans leurs projets d'applications web ou mobile.</p>
        <p class="lead">Pour en savoir plus sur mon parcours et mes recommandations, vous pouvez consulter mon <a href="{{ site.linkedin_profile }}" target="_blank">profil LinkedIn</a>.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
