<section id="portfolio" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Réalisations récentes</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="http://www.influenth.com/" target="_blank">
                <img class="img-portfolio img-responsive" src="img/influenth.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="https://fans.wearetennis.com/" target="_blank">
                <img class="img-portfolio img-responsive" src="img/We-Are-Tennis-Fan-Academy.jpg">
              </a>
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
